<%= simple_form_for(@solo) do |f| %>
  <%= f.error_notification %>
<% unless @solo.errors.full_messages.blank? %><div class="error_notification"><%= @solo.errors.full_messages.first if @solo.errors.any? %></div><% end  %>
  <div class="form-inputs">
    <div  style="text-align:center;">
        <p>
            <%= image_tag("background.png", size: "165x496") %>
            <%= image_tag("height.png", size: "165x496")  %>
            <% if current_user.solo %>
                <%= image_tag @solo.picture.url(:disp) %>
            <% else %>
                <%= image_tag("blank.png", size: "165x496") %>
            <% end %>
            <%= image_tag("camera.png", size: "165x496")  %>
            <%= image_tag("colored.png", size: "165x496")  %>
        </p>
    
        <div class="upload-picture">
        <%= f.input :picture, as: :file, label: false %>
        (Only jpeg, jpg and png allowed)
        </div>
    </div>
    <div class="solo-questions">
    <div class="lorem-box">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </div>
        <div class="lorem-box">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </div>

    
    
    <%= f.input :quote, label: false, placeholder: "Memorable Quote" %>
    <div class="lorem-box">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </div>
        <div class="lorem-box">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </div>
    </div>
  </div>

<div class="middle">

<%= f.button :submit, value: "Submit", id: "solo-submit" %>
  <% if current_user.solo %>
<%= link_to 'Delete', @solo, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-solo" %>
<% end %>
  </div>
<% end %>
<div style="clear:both"></div>