
<% if user_signed_in? %>
  <% unless current_user.solo %>
  <h2>Personal Submission For <% if current_user.name.blank? %><%= link_to "<Enter name to appear on year book>", edit_user_path(current_user) %><% else %><%= link_to "#{current_user.name}", edit_user_path(current_user) %><% end %></h2>
    <%= render 'form' %>
  <% else %>
  <p>You have submitted your picture. <%= link_to "Click here to edit your submission", edit_solo_path(current_user.solo.id) %></p>
  <% end %>

  <h2>>Personal Pictures</h2>
  <%= render @solos %>
<% else %>
  SMU Accountancy Graduating Class of 2016
<% end %>