<div class="center">
  <%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= image_tag @group.picture.url(:thumb) %>
    <%= f.input :picture, as: :file %>
    <p>From left to right:</br>
      Only accountancy students can be tagged. :)</p>

     1 <%= text_field_tag :user1 %></br>
     2 <%= text_field_tag :user2 %></br>
     3 <%= text_field_tag :user3 %></br>
     4 <%= text_field_tag :user4 %></br>
     5 <%= text_field_tag :user5 %></br>
     6 <%= text_field_tag :user6 %></br>
     7 <%= text_field_tag :user7 %></br>
     8 <%= text_field_tag :user8 %></br>
     9 <%= text_field_tag :user9 %></br>
    10 <%= text_field_tag :user10 %></br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Submit" %>
  </div>
<% end %>
</div>