<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% if controller_name == 'groups' && ( action_name == 'new' || action_name == 'edit' ) %>
    <% java_to_load = 'groups' %>
  <% elsif controller_name == 'solos' && action_name == 'index' %>  
    <% java_to_load = 'solos' %>
  <% else %>
    <% java_to_load = 'null' %>
  <% end %>
  <%= javascript_include_tag 'jquery-1.11.3.min.js', 'application', java_to_load,  'data-turbolinks-track' => true %>
  <%= yield (:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</div>
</body>
</html>